@import url("./variable.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  max-width: 2000px;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
button:active {
  transform: scale(0.9);
}
.category {
  padding: 3px 10px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  background-color: var(--brightOrange);
  border-radius: 600px;
  font-family: "Roboto";
  font-weight: 500;
  margin-right: 10px;
  max-width: 200px;
  word-wrap: break-word;
  color: white;
}
