@import url("./variable.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  max-width: 2000px;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
}
button:active {
  transform: scale(0.9);
}
.category {
  padding: 3px 10px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  background-color: var(--brightOrange);
  border-radius: 600px;
  font-family: "Roboto";
  font-weight: 500;
  margin-right: 10px;
  max-width: 200px;
  word-wrap: break-word;
  color: white;
}

.billWrapper.selected {
  border: 5px solid rgb(247, 180, 9);
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
}
.billWrapper {
  border: 1px solid black;
}

.info {
  margin: auto;
  width: fit-content;
  padding: 3px 15px;
  font-style: italic;
  text-align: center;
  background-color: rgba(247, 180, 9, 0.7);
  border-radius: 10px;
}
